<div data-is
  data-is-api="https://instashow.w3case.com.br/01-30-2019/api/index.php"
  data-is-source="@profile_instagram_here"
  data-is-width="auto"
  data-is-height="auto"
  data-is-columns="6"
  data-is-rows="2"
  data-is-direction="vertical"
  data-is-lang="pt-BR"
  data-is-popup-info=""
  data-is-responsive='{ "480": { "columns": 1, "rows": 2 },
                        "768": { "columns": 3, "rows": 2 },
                        "1024": { "columns": 4, "rows": 2 }
                      }'>
</div>