<div data-is
  data-is-api="https://www.severinosantos.com/instapi/"
  data-is-source="<%= profile %>"
  data-is-width="auto"
  data-is-height="auto"
  data-is-columns="6"
  data-is-rows="1"
  data-is-direction="vertical"
  data-is-lang="pt-BR"
  data-is-popup-info=""
  data-is-responsive='{
    "480": { "columns": 1, "rows": 1 },
    "768": { "columns": 3, "rows": 1 },
    "1024": { "columns": 4, "rows": 1 }
  }'>
</div>