<!--Navbar-->
     
  <nav class="navbar navbar-expand-lg navbar-dark green">

    <!-- Navbar brand -->
    <span class="text-white text-uppercase ml-1">Ouça ao vivo</span>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation"> 
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <li class="nav-item">
          <a class="text-white text-uppercase ml-1" href="https://play.google.com/store/apps/details?id=br.com.radiosapp5.tropicalfm879">Baixe nosso aplicativo</a>
    </li>
    
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
        <li class="nav-item">
          <a class="text-white text-uppercase ml-1" href="contact">Fale conosco</a>
        </li>
      </ul>

      
    </div>
  </nav>
  
  <nav class="navbar navbar-expand-lg navbar-dark Dark">

    <!-- Navbar brand -->
    
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    
        <div class="view">
            <%= image_tag 'logo.png', class: "d-block w-100" %>             
          <div class="mask rgba-black-light"></div>
        </div>         
      </div>       
    <div class="collapse navbar-collapse" id="basicExampleNav">
           <!-- Links -->
 <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="/">Home</a>
            <span class="sr-only">(current)</span>
          </a>
        </li>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="about">SOBRE NÓS
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="prog">PROGRAMAÇÃO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="promotion">PROMOÇÃO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="announcer">LOCUTORES</a>
        </li>
        <%# <li class="nav-item">
          <a class="nav-link" href="#">CONTATO</a>
        </li> %>
        <!-- Dropdown -->
              
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Galerias</a>
          <div class="dropdown-menu dropdown-green" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href=<%= albums_path %>>Galeria de fotos</a>
            <a class="dropdown-item" href=<%= video_path %>>Galeria de vídeos</a>
             
          </div>
        </li>
      </ul>
          
      <!-- Links -->

      <%# <form class="form-inline ml-4">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2 mask--phone" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form> %>
    </div>
    <!-- Collapsible content -->

  </nav>
<!--/.Navbar-->
