
<div class="row">
  <div class="col">
    <h5>
      <i class="fab fa-itunes-note mr-2"></i>
      As Mais Tocadas na rádio
    </h5>

    <%= render "home/content/most_played_desktop" %>

    <%= render "home/content/most_played_mobile" %>
  </div>
</div>
