<div class="container">
  <div class="row">
    <div class="container-fluid mt-4 mb-2">
      <h1 class="mt-4">Vídeos</h1>
      <p>
        <em>
          Uma coletânea de vídeos que achamos bacanas e gostaríamos de compartilhar com vocês.
        </em>
      </p>
      <%= render "video/content/card" %>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-4">
    <%= paginate @videos %>
  </div>
</div>

