<div class="container">
  <div class="row">
    <div class="container mt-3 mb-4">
      <h1 class="mt-4"><%= @video.title %></h1>
      <p class="lead">
        <em>
          <%= @video.description if @video.description %>
        </em>
      </p>
    </div>
    <div class="col-12 mt-4 p-0 mb-3">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" 
        src="https://www.youtube.com/embed/<%= @video.code %>" 
        allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
