// variables

$primary-color:        #aa66cc;
$primary-color-dark:   #9933cc;
$secondary-color:      #aa66cc;
$secondary-color-dark: #9933cc;
$default-color:        #2bbbad;
$default-color-dark:   #00695c;
$white:                #fff;
$black:                #000;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

