 <div class="container">
   <div class="row">
		<div class="container-fluid mt-4 mb-2">
      <h1 class="mt-4">Promoções</h1>
      <p>
        <em>
            A rádio Tropical - Anaurilândia realiza de tempos em temp01os promoções, confira os eventos abaixo, estamos aguardando vocês!
        </em>
      </p>
  </div>
</div>    

