<div class="container">
   <div class="row mb-3">
		 <div class="container mt-3 mb-4">
      <h1 class="mt-4">Galeria de Fotos</h1>
      <p class="lead">
        <em>
           As fotos podem eternizar os momentos, confira abaixo alguns que marcaram a tropical até aqui.
        </em>
      </p>
    </div>
		<%= render "album/content/card" %>
	</div>
	 <%# <%= paginate @album if @album.present? %> 
  </div>
   

   <div class="container">
     <div class="row">
		  <div class="container mt-3 mb-4">
        <h1 class="mt-4">Galeria de Fotos</h1>
     <h5><em> Uma coletânea de vídeos que achamos bacanas e gostaríamos de compartilhar com vocês!</em></h5>   
     </div>
  </div>
</div>

   <div class="card" style="width: 18rem; font-weight: 400;">
      <% @albums.each do |p| %>   
       <div class="card" style="width: 18rem; font-weight: 400;">
          <%= p.image , class:"card-img-top" %>

   <div class="card-body">  
      <h5 class="card-title"> <%= p.title %></h5>
   </div>
  </div>
<%end%>
